@charset "ISO-8859-1";
{
    box-sizing: border-box;
}
body {
    background-color: #edf2f9;
    font-family: Helvetica, sans-serif;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.bg-main{
    background-color: #97a1b2;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 20px;
    background-color: #97a1b2;
    top: 0;
    bottom: 0;
    left: 0%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left:0px;
    background-color: lightblue;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}
.right {
    left: 0%;
}

.right::after {
    left: -16px;
}

.content {
    padding: 0px 0px;
    background-color: #c6c0bf;
    position: relative;
    border-radius: 6px;
}
  .container {
    width: 100%;
    
  }
  
  .left::after, .right::after {
    left: 15px;
  }
    left: 0%;
  }
  .top-buffer { margin-top:20px; }
}
textarea {
  width: 500px;
  height: 20px;
}

textarea:focus {
  height: 100px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: 1s;
}
.image-upload > input
{
    display: none;
}

.image-upload img
{
    cursor: pointer;
}
.carousel-inner img {
      width: 100%;
      height: 100%;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
}