<?xml version="1.0" encoding="UTF-8"?>
<!-- webapp/WEB-INF/web.xml -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>To do List</display-name>
  <welcome-file-list>
    <welcome-file>login.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.ComITProject.LandingPageServlet</servlet-class>
  </servlet>
  <servlet>
    	<servlet-name>timeline</servlet-name>
    	<jsp-file>/WEB-INF/mainPages/timeline.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>timeline</servlet-name>
	    <url-pattern>/timeline/*</url-pattern>   
	</servlet-mapping>
</web-app>